<h1>The amazing restaurants</h1>

<p><%= link_to "Add a new restaurant", new_restaurant_path%></p>
<div>
<% @restaurants.each do |restaurant| %>
<p><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
<% end %>
</div>

